# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\lucas\OneDrive\Documenten\HAN\Jaar 2\DEA\Programmeeropdracht\Programmeer opdracht spotitube\nl.han.dea.lucaskuster\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
